
footer {
    border-radius: 15px 15px 0px 0px;
    background-color: rgb(255, 255, 255);

    position: relative;
    width: 100%;
    height: 50px;
    bottom: 0;

    h3 {
        color: #444444;
        text-align: center;

        position: relative;
        top: 25%;
    }

    .star {
        img {
            position: absolute;
            height: auto;
            filter: brightness(0%);
        }

        .left_first {
            width: 30px;
            
            top: 10px;
            left: 5px;
        }

        .left_second {
            width: 15px;

            top: 5px;
            left: 30px;
        }

        .right_first {
            width: 30px;
            
            bottom: 10px;
            right: 5px;
        }

        .right_second {
            width: 15px;

            bottom: 5px;
            right: 30px;
        }

    }

}
