
/* body */
body {
    margin: 0;
    position: relative;
    background-color: #060513;
}

main {
    padding: 30px;
}

html {
    scroll-behavior: smooth; 
}

article {
    margin: 30px 0px;
    
    .title {
        padding: 10px;
        position: relative;
    
        h1 {
            color: white;
            font-family: xiawu;
            text-align: center;
            font-size: 45px;
            
            position: relative;
            z-index: 10;
        }
    
        /* divider */
        .divider {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            width: 60%;
            border-top: 4px solid white; 
    
            z-index: 5;
        }
        
        /* 2. 設置兩端的菱形（使用偽元素） */
        /* 注意：這個例子中，菱形會覆蓋在白線的頂部 */
        .divider::before,
        .divider::after {
            content: "";
            position: absolute;
            top: -12px;
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
            border-radius: 2px;
            border: 4px solid white;
        }
    
        /* 設置左側菱形的位置 */
        .divider::before {
            left: -18px;
        }
    
        /* 設置右側菱形的位置 */
        .divider::after {
            right: -18px;
        }
    
        .gradient {
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            width: 59.5%;
            height: 75%;
            background-image: linear-gradient(#04007676,#21063600,#21063600);
    
            z-index: 0;
        }
    }
}