
@font-face {
    font-family: xiawu;
    src: url(../font/LXGWWenKai-Regular.ttf);
}

/* body */
body {
    margin: 0px;
    position: relative;

    background-color: #060513;
}

/* 星空容器：填滿整個網頁 */

#star_field {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    /* 高度由 JavaScript 設為 px */

    pointer-events: none;
    z-index: -10;
  }
  

/* 定義閃爍動畫 */
@keyframes flicker {
    0%, 100% { opacity: 0.25; }
    50% { opacity: 0; }
}

/* 單個菱形樣式 */
body .diamond {
    position: absolute; /* 讓菱形可以被精確定位 */
    background: #ffffff;
    transform: rotate(45deg); /* 變成菱形 */
    opacity: 0.25; 
    transition: opacity 0.5s; /* 讓菱形有漸變效果 */
}

/* main */
main {
    padding: 30px;
}

main::after {
    content: "";
    clear: both;
    display: table;
}

article {
    margin: 30px 0px;
    
    .title {
        padding: 10px;
        position: relative;
    
        h1 {
            color: white;
            font-family: xiawu;
            text-align: center;
            font-size: 45px;
            
            position: relative;
            z-index: 10;
        }
    
        /* divider */
        .divider {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            width: 60%;
            border-top: 4px solid white; 
    
            z-index: 5;
        }
        
        /* 2. 設置兩端的菱形（使用偽元素） */
        /* 注意：這個例子中，菱形會覆蓋在白線的頂部 */
        .divider::before,
        .divider::after {
            content: "";
            position: absolute;
            top: -12px;
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
            border-radius: 2px;
            border: 4px solid white;
        }
    
        /* 設置左側菱形的位置 */
        .divider::before {
            left: -18px;
        }
    
        /* 設置右側菱形的位置 */
        .divider::after {
            right: -18px;
        }
    
        .gradient {
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            width: 59.5%;
            height: 75%;
            background-image: linear-gradient(#04007676,#21063600,#21063600);
    
            z-index: 0;
        }
    
    }
}