
@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#project_exp {
    position: relative;

    .info {
        position: relative;
        width: 80%;
        height: 420px;

        margin: 0px auto;
        overflow: hidden;
        /* background-color: red; */

        /* 只有當前的頁面顯示出來 */
        .slide {
            display: flex;
            justify-content: space-around; /* 讓 .item 緊密排列 */
            align-items: center;
            transition: transform 0.5s ease-out;
            
            position: relative;
            top: 0;
            left: 0;
            height: 100%;

            .item {
                width: 40%;
                height: 350px;
                margin: 5%;
    
                flex-shrink: 0;
                /* background-color: green; */
                
                position: relative;
                top: 0;
                left: 0;

                .bg {
                    width: 350px;
                    height: 350px;
                    
                    display: flex;
                    justify-self: center;
                    align-self: center;

                    /* 3. 將背景圖片和 filter 套用在偽元素上 */
                    border-radius: 50%;
                    background-size: cover; 
                    background-position: center;
                    background-repeat: no-repeat;
                    
                    /* **關鍵：在這裡應用 filter 效果** */
                    filter: brightness(50%); /* 範例：變暗並變成黑白 */
                    
                    /* 確保背景在內容的下方 */
                    z-index: -10;
                }

                .intro_pic {
                    width: 250px;
                    height: auto;
                    
                    position: relative;
                    top: -75%;
                    
                    display: flex;
                    justify-self: center;
                    align-self: center;
    
                    img {
                        width: 250px;
                        height: auto;
                        z-index: 4;
                    }
                }
    
                .button {
                    width: 250px;
                    height: auto;

                    position: relative;
                    top:-55%;

                    display: flex;
                    justify-self: center;
                    align-self: center;
    
                    img {
                        width: 280px;
                        height: auto;

                        position: absolute;
                        top: 0px;
                        left: -15px;
                        margin: 0 auto;

                        z-index: 5;
                    }
    
                    p {
                        position: absolute;
                        top: 40px;
                        left: -15px;
                        margin: 0 auto;
    
                        font-family: xiawu;
                        color: white;
                        font-size: 38px;
                        font-weight: 600;
                        text-align: center;
    
                        width: 280px;
                        height: auto;

                        z-index: 5;
                    }

                    .gradient {
                        position: absolute;
                        top: 100px;
                        left: 12px;
                        margin: auto 0;
                
                        width: 220px;
                        height: 100px;
        
                        z-index: 0;
                    }
                }
            }
  
            /* 每個專案的各別"調教"區awa */
            .item.sss {
                .bg {
                    background-image: url(../image/project_exp/bg/sss.png);
                }

                .gradient {
                    background-image: linear-gradient(#04007676,#21063600,#21063600);
                }
                
                p{
                    color: #7889f7;
                    text-shadow: 4px 4px 2px rgb(71, 56, 119);
                }

                .intro_pic {
                    top: -80%;
                }
            }

            .item.foc {
                .bg {
                    background-image: url(../image/project_exp/bg/foc.png);
                }

                .gradient {
                    background-image: linear-gradient(#76740076,#36190600,#36190600);
                }

                p{
                    color: #d1c37b;
                    text-shadow: 4px 4px 2px #785838;
                }
            }

            .item.wt {
                .bg {
                    background-image: url(../image/project_exp/bg/wt.png);
                }

                .gradient {
                    background-image: linear-gradient(#2b484a,#060b1300,#060b1300);
                }

                p{
                    color: #e3fdff;
                    text-shadow: 4px 4px 2px #7b839e;
                }

                .intro_pic {
                    top: -85%;
                }
            }

            .item.cc2 {
                .bg {
                    background-image: url(../image/project_exp/bg/cc2.png);
                }

                .gradient {
                    background-image: linear-gradient(#306927,#040e0300,#040e0300);
                }

                p{
                    font-size: 35px;
                    color: #6fe581;
                    text-shadow: 4px 4px 2px #377b2c;
                }

                .intro_pic {
                    top: -80%;
                }
            }

            .item.va {
                .bg {
                    background-image: url(../image/project_exp/bg/va.png);
                }

                .gradient {
                    background-image: linear-gradient(#662e6b,#0d031300,#0d031300);
                }

                p{
                    font-size: 35px;
                    color: #d172de;
                    text-shadow: 4px 4px 2px #4c1d6b;
                }

                .intro_pic {
                    top: -80%;
                }
            }

            /* 外框 */
            .item::before {
                content: "";
                position: absolute;
                /* 讓外框位於 nav-item 元素的中央 */
                top: 50%;
                left: 50%;
                /* 調整到中心點 */
                transform: translate(-50%, -50%);

                /* 外框的尺寸，要比 nav-item 稍微大一些 */
                width: 120%; 
                height: 120%; 

                /* 隱藏外框，等待 :hover 啟動 */
                opacity: 0;
                
                /* 設置外框圖片 (假設您有一個圓形或方形的裝飾圖) */
                background-image: url('../image/project_exp/select.png'); 
                background-size: contain; 
                background-repeat: no-repeat;
                background-position: center;
                
                animation: spin 18s linear infinite;
                transition: opacity 0.3s ease-out;
                z-index: -1;
            }

            /* hover動畫 */
            .item:has(.button) > div {
                transition: transform 0.3s ease-out;
            }

            .item:has(.button:hover) > div {
                transform: scale(1.05);
            }

            .item:has(.button:hover)::before {
                opacity: 1;
                --after-anim-delay: 0.15s;
            }
        }
    }

    .carousel {
        display: flex;
        justify-content: center; /* 讓整個點列居中 */
        align-items: center;
        margin-top: 30px; /* 調整與上方內容的間距 */
        margin-bottom: -10px ;

        .dot {
            display: block; /* 確保可以設定寬高 */
            width: 15px; /* 菱形的大小 */
            height: 15px;
            margin: 0 20px; /* 調整點與點之間的水平間距 */
            background-color: #AAAAAA; /* 未選中的點的顏色 (灰色) */
            
            /* 變為圓點 (如果您不想要菱形，直接使用這個即可) */
            /* border-radius: 50%; */ 
            
            /* 變為菱形 (如果您想要菱形，則使用 transform) */
            transform: rotate(45deg); 
            
            transition: background-color 0.3s, transform 0.3s; /* 讓選中時有平滑的過渡 */
        }
        
        .dot.active {
            background-color: #f9e38f; /* 選中時變為白色 */
            transform: rotate(45deg) scale(1.5); /* 讓選中的菱形稍微放大 */
        }
    }
}