
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* body */
body {
    margin: 0;
    position: relative;
    background-color: #060513;
    
    .sss {
        h1 {
            color: #7889f7;
            text-shadow: 4px 4px 2px rgb(71, 56, 119);
            font-size: 50px;  
        }
    }

    .foc {
        h1 {
            color: #f1e670;
            text-shadow: 4px 4px 2px #785838;
            font-size: 50px;   
        }
    }
    
    .wt {
        h1 {
            color: #e3fdff;
            text-shadow: 4px 4px 2px #7b839e;
            font-size: 50px;   
        }
    }

    .cc2 {
        h1 {
            color: #6fe581;
            text-shadow: 4px 4px 2px #377b2c; 
            font-size: 50px;
        }
    }

    .va {
        h1 {
            color: #d172de;
            text-shadow: 4px 4px 2px #4c1d6b;
            font-size: 50px;   
        }
    }

    .page_select {
        /* background-color: red; */
        position: fixed;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-around;
        
        bottom: -75%;
        z-index: 20;

        .home {
            position: absolute;
            left: 50px;
            top: -100px;

            img {
                width: 80px;
                height: auto;
            }
        }

        .left {
            position: absolute;
            left: 50px;

            img {
                width: 80px;
                height: auto;
            }
        }

        .right {
            position: absolute;
            right: 50px;

            img {
                width: 80px;
                height: auto;
                transform: rotate(180deg);
            }
        }
    }

    .page_select .hover {
        transition: transform 0.3s ease;
    }

    .page_select .hover:hover{
        transform: scale(1.05);
        filter: sepia(50%) saturate(75%) brightness(125%) hue-rotate(145deg);
    }
}

html {
    scroll-behavior: smooth; 
}

/* main */
main {
    padding: 0px 15% 50px 15%;

    animation: fadeIn 0.3s ease-out 1;
    animation-fill-mode: forwards;
    opacity: 0;

    .base {
        width: 100%;
        height: 10px;

        position: relative;
        bottom: 0;

        margin: 100px 0px 0px;

        background-color: rgba(135, 135, 135, 0.5);
    }

    .proof {
        display: flex; 
        justify-content: space-around;
        flex-wrap: wrap;

        position: relative;
        width: 100%;
        height: auto;

        p {
            text-align: center;
            padding: 0px;
        }

        .item {
            position: relative;
            width: 47.5%;
            min-height: 400px;
            height: auto;

            display: flex;
            flex-direction: column;
        }

        .item2 {
            position: relative;
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;

        }
    }

    h1 {
        font-family: xiawu;
        text-align: center;
        position: relative;
        padding: 20px 0px 30px;
        /* z-index: 10; */
    }

    h2 {
        color: white;
        font-family: xiawu;
        text-align: center;
        font-size: 35px;
        
        position: relative;
        padding: 0px 0px 30px;
    }

    h3 {
        color: #cfdde2;
        font-family: xiawu;
        text-align: center;
        font-size: 30px;
        
        position: relative;
        padding: 0px 0px;
    }

    p {
        color: #acaec9;
        font-family: xiawu;
        text-align: justify;
        font-size: 25px;
        
        position: relative;
        padding: 0px 0px 30px;
    }
}